# general
**/__pycache__
.pytest_cache
.ipynb_checkpoints
*.DS_Store

# build stuff
build
dist
*.egg-info
junit
docs/_build

# project specific
notebooks/data/**
paper/media
paper/paper.jats
paper/paper.pdf

# IDE related
.idea

# git stuff
!**/.gitkeep