cartopy
copernicusmarine
cmocean
dask
matplotlib
mkdocs<=1.6.1
mkdocs-material
mkdocs-include-markdown-plugin
mkdocs-pymdownx-material-extras
mkdocs_include_exclude_files
mkdocstrings<=0.29.0
mkdocstrings-python<=1.13.0
mknotebooks @ git+https://github.com/vadmbertr/mknotebooks@master
nbconvert
numpy
pygments
pymdown-extensions
pytkdocs_tweaks
xarray